html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

input,
textarea,
[contenteditable=""],
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
}

body {
  background: #111315;
  overflow: hidden;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    sans-serif;
}
